mixin navbar
  nav.navbar.navbar-expand
    .collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link.white(href="/") Główna
        li.nav-item
          a.nav-link.white(href="/plan/login") Generuj plan
    .navbar-right
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link.white(href="/signup") Sign up
        